In [1]:
import pandas as pd

In [3]:
disaster_tweet_data = pd.read_csv(r'D:\Computer Science & Engineering\Jupyter Notebook project\Data Preprocessor for NLP using Python\disaster_tweet.csv')

In [4]:
disaster_tweet_data.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [10]:
# 1. Handling Missing values

In [11]:
disaster_tweet_data.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [ ]:
# Drop rows with missing values in columns of  keyword or location

In [15]:
disaster_tweet_data_cleaned = disaster_tweet_data.dropna()

In [16]:
print(disaster_tweet_data_cleaned.shape)

(5080, 5)

In [17]:
disaster_tweet_data_filled = disaster_tweet_data.fillna('')

In [ ]:
# 2. Remove Duplicates

In [18]:
disaster_tweet_data.duplicated().sum()

np.int64(0)

In [ ]:
# Drop duplicates

In [19]:
disaster_tweet_data_cleaned = disaster_tweet_data.drop_duplicates()

In [20]:
print(disaster_tweet_data_cleaned.shape)

(7613, 5)

In [ ]:
# 3. Preprocess Text

In [28]:
# Convert text to lowercase
df['text'] = df['text'].str.lower()

In [30]:
# Remove punctuation
df['text'] = df['text'].str.replace(r'[^\w\s]', '', regex=True)
df['text'] = df['text'].str.replace(r'\d+', '', regex=True)

In [32]:
# Remove extra spaces
df['text'] = df['text'].str.split().str.join(' ')

In [33]:
# Define a list of stopwords
stopwords = ['the', 'is', 'in', 'and', 'to', 'of', 'a', 'with', 'that', 'for', 'on', 'it']

In [34]:
# Remove stopwords
df['cleaned_text'] = df['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in stopwords]))

In [ ]:
# Display the original and cleaned text

In [35]:
df[['text', 'cleaned_text']].head()

,text,cleaned_text
0,our deeds are the reason of this earthquake ma...,our deeds are reason this earthquake may allah...
1,forest fire near la ronge sask canada,forest fire near la ronge sask canada
2,all residents asked to shelter in place are be...,all residents asked shelter place are being no...
3,people receive wildfires evacuation orders in ...,people receive wildfires evacuation orders cal...
4,just got sent this photo from ruby alaska as s...,just got sent this photo from ruby alaska as s...

In [ ]:
# Final Step: Save the cleaned data

In [38]:
disaster_tweet_data_cleaned.to_csv(r'D:\Computer Science & Engineering\Jupyter Notebook project\Data Preprocessor for NLP using Python\disaster_tweet_cleaned.csv', index=False)